.jack-photo {
    width: 100%;
    max-width: 700px;
    margin-bottom: 1rem;
}

.title--job-title {
    color: var(--secondary-font);
    margin-top: -1rem;
}


.title {
    grid-row: 1 /1;
    grid-column: 1/8;
}
.bullet-points {
    grid-row: 2 /2;
    grid-column: 1/8;
    margin: 1.5rem 0 2rem 0;
    line-height: 2rem
}
.button--proceed {
    grid-row: 3 /3;
    grid-column: 1/8;
}

footer {
    grid-column: 1/5;
    grid-row: 4/4;
    width: 7rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}


.bullet-points {
    color: var(--main-green);
}
.bullet {
    color:var(--main-font);
}