

.button--back {
    line-height: 30px; /* Same as the height */
    background-color: var(--light-grey);
    color: var(--dark-grey);
    /* button size */
    line-height: 30px;
    height: 30px;
    width: 150px;
}
