@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
:root {
    --main-green: #00B495;
    --main-whiteish: white;
    --main-font: #315350;
    --secondary-font: #C4C4C4;
    --light-grey: #F4F4F4;
    --dark-grey: #7B7979;
    --light-grey2: #F5F8F4
}
body {
 background-color: var(--main-whiteish);
 color: var(--main-font);
 font-family: 'Raleway', sans-serif;
 font-size: 16px;
 line-height: 24px
}


.button {
    text-decoration: none;
    /* center the text in the button */
    display: block;
    text-align: center;
    vertical-align: middle;
}

.button--proceed {
    line-height: 30px; /* Same as the height */
    background-color: var(--main-green);
    color: var(--main-whiteish);
    /* button size */
    height: 30px;
    width: 150px;
}
.button--proceed:hover {
    background-color: var(--main-font);
    color: var(--main-whiteish);
}

h1 {
    font-size: 24px;
    line-height: 36px;
    font-weight: bolder;
}

h2 {
    font-size: 20px;
    line-height: 30px;
    font-weight: bolder;
}

p {
    font-size: 16px;
    line-height: 24px;
}
main {
    display: grid;
    width: 90%;
    max-width: 700px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4,auto);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

svg {
    fill: var(--main-font);
}

svg:hover {
    fill: var(--main-green);
}
svg ellipse {
    fill: var(--main-font);
}

svg ellipse:hover {
    fill: var(--main-green);
}
