@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
 background-color: white;
 color: #315350;
 font-family: 'Raleway', sans-serif;
}
.jack-photo {
    width: 100%;
}

button {

}